/* Hover properties */
.my-button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.my-button:hover{
    background-color: green;
}
/* Line height */
p{
    line-height: 20px;
}

/* CSS Margin */

.my-box{
    height: 50px;
    width: 70px;
    background-color: coral;
    color: white;
    padding: 12px;
    margin: 10px;
}
.my-box2{
    height: 50px;
    width: 70px;
    background-color: green;
    color: white;
    padding: 12px;
    margin: 10px;
}